<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>About Us</title>
</head>
<body>
<div layout:fragment="content">
    <p>We love books. Our mission is to force people to also start loving books. We know it ain't an easy job, but if
        somebody has to do it why not us :)</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis excepturi harum, libero maxime neque quidem
        quo? Accusantium consequatur corporis, culpa, cumque cupiditate dolore earum eum ipsam modi molestias nesciunt
        optio perspiciatis praesentium quae quasi sapiente sint tempora? Asperiores culpa eius id minima molestiae,
        officiis praesentium, quibusdam quod rem sed voluptates!</p>
</div>
</body>
</html>