<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Styles -->
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.2/css/all.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Book Website</title>
</head>
<body class="d-flex flex-column vh-100">
<div class="container">
    <header th:replace="fragments :: header"></header>
</div>
<main class="flex-grow-1">
    <div class="container">
        <th:block th:unless="${#strings.isEmpty(pageName)}">
            <h1 th:text="${pageName}"></h1>
            <hr/>
        </th:block>
        <div layout:fragment="content"></div>
    </div>
</main>
<div class="container">
    <footer th:replace="fragments :: footer"></footer>
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}"></script>
    <th:block layout:fragment="additional-scripts"></th:block>
</th:block>
</body>
</html>