body {
    margin: 0;
    padding: 0;

    background-color: #cecece;
    font-family: Arial, serif;
}

.container {
    width: 800px;
    margin: 0 auto;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-right {
    text-align: right;
}

.main-header {
    background-image: url("/assets/image/cover.jpg");
    background-size: cover;
    background-position: center;
    padding: 6em 1em 1em 1em;
    color: #eee;
    text-shadow: 2px 2px 4px #000;
}

.main-header h1, .main-header p {
    margin: 0;
}

.main-navbar {
    background: #000;
    color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.main-navbar a {
    all: unset;
}

.main-navbar .main-navbar-link {
    padding: .5em 1em;
}

.main-navbar .main-navbar-link:hover {
    cursor: pointer;
    background-color: #eee;
    color: #000;
}

.main-content {
    background-color: #fff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    flex-grow: 1;
}

.main-footer {
    background-color: #000;
    color: #eee;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article {
    padding: .75em;
    outline: 2px dashed #cecece;
}

.article h1, .article p {
    margin: 0;
}

.article h1:not(:last-child),
.article p:not(:last-child) {
    margin-bottom: .25em;
}

.article-text-with-image {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.article-text-with-image > section {
    flex-grow: 1;
}